soft/src/samtools-0.1.18/misc/wgsim
soft/src/samtools-0.1.18/misc/seqtk
soft/src/samtools-0.1.18/misc/md5fa
soft/src/samtools-0.1.18/misc/maq2sam-short
soft/src/samtools-0.1.18/misc/maq2sam-long
soft/src/samtools-0.1.18/misc/md5sum-lite
soft/src/samtools-0.1.18/bcftools/bcftools
soft/src/samtools-0.1.18/samtools
soft/src/samtools-0.1.15/misc/md5sum-lite
soft/src/samtools-0.1.15/misc/md5fa
soft/src/samtools-0.1.15/misc/maq2sam-short
soft/src/samtools-0.1.15/misc/maq2sam-long
soft/src/samtools-0.1.15/misc/wgsim
soft/src/samtools-0.1.15/bcftools/bcftools
soft/src/samtools-0.1.15/samtools
soft/src/statsFromRun/parsePileup
soft/src/bwa-0.6.2/bwa
soft/src/bwa-0.7.5a/bwa
soft/src/bash-4.2/bash
soft/src/tabix/bgzip
soft/packages/verifyBamID/bin/verifyBamID
soft/packages/libStatGen
data/varannot.humandb
data/reference
.svn/
.svnignore
data/templates/function.library.bkp
data/templates/init_pipeline.beluga.exome.V7.Macrogen.sh
data/templates/init_pipeline.beluga.exome.V7.Macrogen.sh.bkp
launch_pipeline.exome.scatter.slurm.sh.bkp
launch_pipeline.exome.scatter.slurm.zoha.sh
soft/src/htslib-1.3.1/bgzf.pico
soft/src/htslib-1.3.1/bgzip
soft/src/htslib-1.3.1/config.h
soft/src/htslib-1.3.1/cram/cram_codecs.pico
soft/src/htslib-1.3.1/cram/cram_decode.pico
soft/src/htslib-1.3.1/cram/cram_encode.pico
soft/src/htslib-1.3.1/cram/cram_external.pico
soft/src/htslib-1.3.1/cram/cram_index.pico
soft/src/htslib-1.3.1/cram/cram_io.pico
soft/src/htslib-1.3.1/cram/cram_samtools.pico
soft/src/htslib-1.3.1/cram/cram_stats.pico
soft/src/htslib-1.3.1/cram/files.pico
soft/src/htslib-1.3.1/cram/mFILE.pico
soft/src/htslib-1.3.1/cram/open_trace_file.pico
soft/src/htslib-1.3.1/cram/pooled_alloc.pico
soft/src/htslib-1.3.1/cram/rANS_static.pico
soft/src/htslib-1.3.1/cram/sam_header.pico
soft/src/htslib-1.3.1/cram/string_alloc.pico
soft/src/htslib-1.3.1/cram/thread_pool.pico
soft/src/htslib-1.3.1/cram/vlen.pico
soft/src/htslib-1.3.1/cram/zfio.pico
soft/src/htslib-1.3.1/faidx.pico
soft/src/htslib-1.3.1/hfile.pico
soft/src/htslib-1.3.1/hfile_net.pico
soft/src/htslib-1.3.1/hts.pico
soft/src/htslib-1.3.1/htsfile
soft/src/htslib-1.3.1/kfunc.pico
soft/src/htslib-1.3.1/knetfile.pico
soft/src/htslib-1.3.1/kstring.pico
soft/src/htslib-1.3.1/md5.pico
soft/src/htslib-1.3.1/regidx.pico
soft/src/htslib-1.3.1/sam.pico
soft/src/htslib-1.3.1/synced_bcf_reader.pico
soft/src/htslib-1.3.1/tabix
soft/src/htslib-1.3.1/tbx.pico
soft/src/htslib-1.3.1/test/fieldarith
soft/src/htslib-1.3.1/test/hfile
soft/src/htslib-1.3.1/test/sam
soft/src/htslib-1.3.1/test/test-regidx
soft/src/htslib-1.3.1/test/test-vcf-api
soft/src/htslib-1.3.1/test/test-vcf-sweep
soft/src/htslib-1.3.1/test/test_view
soft/src/htslib-1.3.1/vcf.pico
soft/src/htslib-1.3.1/vcf_sweep.pico
soft/src/htslib-1.3.1/vcfutils.pico
soft/src/htslib-1.3.1/version.h
soft/src/samtools-1.3.1/config.h
soft/src/samtools-1.3.1/config.mk
soft/src/samtools-1.3.1/htslib-1.3.1/config.h
soft/src/samtools-1.3.1/htslib-1.3.1/version.h
soft/src/samtools-1.3.1/misc/ace2sam
soft/src/samtools-1.3.1/misc/maq2sam-long
soft/src/samtools-1.3.1/misc/maq2sam-short
soft/src/samtools-1.3.1/misc/md5fa
soft/src/samtools-1.3.1/misc/md5sum-lite
soft/src/samtools-1.3.1/misc/wgsim
soft/src/samtools-1.3.1/samtools
soft/src/samtools-1.3.1/test/merge/test_bam_translate
soft/src/samtools-1.3.1/test/merge/test_rtrans_build
soft/src/samtools-1.3.1/test/merge/test_trans_tbl_init
soft/src/samtools-1.3.1/test/split/test_count_rg
soft/src/samtools-1.3.1/test/split/test_expand_format_string
soft/src/samtools-1.3.1/test/split/test_filter_header_rg
soft/src/samtools-1.3.1/test/split/test_parse_args
soft/src/samtools-1.3.1/test/vcf-miniview
soft/src/samtools-1.3.1/version.h
